@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Signika+Negative:wght@300;400;500;600;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #404258;
    font-size: 16px;
    line-height: 1.3;

    font-family: 'Signika Negative', sans-serif;
    font-weight: 400;
}

li {
    list-style: none;
}

.container {
    width: 100%;
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

/* box / top */
.box {
    min-height: 100vh;
}

.box__inner {
    background-color: #474E68;
    min-height: calc(100vh - 90px);
    padding: 0 10px;
}

.top {
    background-color: #50577A;
}

.top__inner {
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top__title {
    font-size: 52px;
    font-family: 'Lobster', cursive;
    color: #fff;
}

/* task bar */
.task-bar {
    width: 100%;
    padding: 20px 0;
    position: relative;
    border-bottom: 2px solid #fff;
}

.btn-add {
    position: absolute;
    height: 17px;
    width: 17px;
    background-color: transparent;
    border: 1px solid transparent;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

.btn-add::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 2px;
    background-color: #fff;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

}

.btn-add::before{
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #fff;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.input-add {
    background-color: #1a222c;
    border: none;
    outline: none;
    width: 100%;
    height: 40px;
    padding-left: 35px;
    font-size: 23px;
    color: #fff;
}

.input-add:hover {
    background-color: rgba(12, 12, 12, .8);
}

.input-add:focus {
    background-color: rgba(12, 12, 12, .8);
}

/* list */

.list {
    margin-top: 20px;
}

.list__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #6B728E;
    padding: 20px 10px;
    gap: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
}

.item__text {
    color: #fff;
}

.btn-container {
    text-align: right;
    display: flex;
    gap: 10px;
}

.btn-checked {
    border: none;
    height: 30px;
    width: 30px;
    cursor: pointer;
    background-color: transparent;
    border-radius: 50%;
    border: 2px solid rgb(122, 131, 141);
    transition: all .2s ease-in-out;
}

.btn-checked:hover {
    background-color: rgb(122, 131, 141);
}

.btn-del {
    border: none;
    height: 30px;
    width: 30px;
    cursor: pointer;
    background-color: transparent;
    border-radius: 50%;
    border: 2px solid rgb(150, 86, 86);
    transition: all .2s ease-in-out;
}

.btn-del:hover {
    background-color: rgb(150, 86, 86);
}

.checked {
    opacity: .3;
}
